.doc-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #fff;
  border-top: 1px solid #e5e6eb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  z-index: 10;
}

.doc-bottom-nav .nav-item {
  text-decoration: none;
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 100%;
}

.doc-bottom-nav .nav-item .icon {
  font-size: 18px;
}

.doc-bottom-nav .nav-item.active {
  color: #00DDBA;
  font-weight: 600;
}

